In [ ]:
import numpy as np
import pandas as pd
import pylab as py
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Business_Analysis_of_Jakarta_food\data-usaha-jasa-makanan-dan-minuman-jenis-usaha-restoran-di-dki-jakarta-tahun-2014.csv")

In [ ]:
data.shape

In [ ]:
print("Any Missing value?", data.isnull().values.any())

In [ ]:
data.isnull().sum()

In [ ]:


def plot_nas(data: pd.DataFrame):
    if data.isnull().sum().sum() != 0:
        na_data = (data.isnull().sum() / len(data)) * 100      
        na_data = na_data.drop(na_data[na_data == 0].index).sort_values(ascending=False)
        missing_data = pd.DataFrame({'Missing/isnull Ratio %' :na_data})
        missing_data.plot(kind = "barh")
        plt.show()
    else:
        print('No NAs found')
plot_nas(data)

In [ ]:
missing_percentage = data.isnull().sum() * 100 / len(data)

missing_percentage

In [ ]:


Letters = ('no_fax', 'no_telepon', 'badan_usaha', 'penanggung_jawab + kapasitas')
miss_perc = (48.850139, 37.427344, 7.6322044, 0.277989)
colors = ('#FFF5EE', '#FFD51F', '#FFD51F', '#E67F0D', '#D53032')

plt.pie(
    miss_perc,
    labels=Letters,
    autopct='%1.1f%%',
    colors=colors,
    shadow=True) 



plt.show()

In [ ]:
data_drop = data.dropna(axis=0)

dup_data = data.duplicated().any()

print("Are there any duplicated values?", dup_data)

In [ ]:


drop_dup_data = data.drop_duplicates()

In [ ]:
data.describe(include='all')

In [ ]:
name_usaha_count = data.groupby('nama_usaha').size().sort_values(ascending=False)
name_usaha_count.head(25)

In [ ]:
business_name = ('Kentucky Fried Chicken', 'Pizza Hut', 'Solaria', 'A & W Family', 'Hokben', 'Starbucks Coffee',
             'Rice Bowl', 'Mc Donalds', 'Starbucks', 'Burger King')
counts_1 = (105, 76, 73, 62, 53, 45, 
               39, 37, 35, 34)

x_coords = np.arange(len(business_name))


plt.bar(x_coords, counts_1, tick_label=business_name) 
plt.xticks(rotation=90) #rotates text for x-axis labels 
plt.ylabel('')
plt.title('Top 10 Culinary Business in Jakarta')
plt.show()

In [ ]:
name_usaha_count.shape

In [ ]:
address_usaha_count = data.groupby('alamat_usaha').size().sort_values(ascending=False)
address_usaha_count.head(25)

In [ ]:
address_usaha_count.shape

In [ ]:


director_usaha_count = data.groupby('penanggung_jawab').size().sort_values(ascending=False)
director_usaha_count.head(25)

In [ ]:


director_usaha_count.shape

In [ ]:


business_director = ('Carolina Susanty', 'Ir. Jusroni', 'Aliuyanto', 'Jusroni', 'Rudy Tanudjaya Saputra', 'Zaina Siman',
             'Hendra Arifin', 'Kusnandi Rahardja', 'Sukowati Sosrodjojo', 'Ivonne Hadisurjo')
counts_3 = (106, 68, 68, 66, 62, 61, 
               60, 56, 40, 31)

x_coords = np.arange(len(business_director))
plt.bar(x_coords, counts_3, tick_label=business_director) 
plt.xticks(rotation=90) #rotates text for x-axis labels 
plt.ylabel('')
plt.title('Top 10 Culinary Business Director in Jakarta')
plt.show()

In [ ]:


location_usaha_count = data.groupby('wilayah').size().sort_values(ascending=False)
location_usaha_count.head()

In [ ]:


location_usaha_count.shape

In [ ]:
Jakarta_city_region = ('Jakarta Selatan (South Jakarta)', 'Jakarta Pusat (Capital of Jakarta)', 'Jakarta Utara (North Jakarta)', 'Jakarta Barat (West Jakarta)', 'Jakarta Timur (East Jakarta)')
counts_4 = (1570, 921, 705, 542, 219)
colors = ['#0000FF' for _ in range(len(Jakarta_city_region))]
colors[1] = '#FF0000'

x_coords = np.arange(len(Jakarta_city_region))

plt.bar(x_coords, counts_4, tick_label=Jakarta_city_region, color=colors) 
plt.xticks(rotation=90) #rotates text for x-axis labels 
plt.ylabel('')
plt.title('Best Culinary Business Region in Jakarta')
plt.show()

In [ ]:


type_usaha_count = data.groupby('jenis_usaha').size().sort_values(ascending=False)
type_usaha_count

In [ ]:


type_business = ('Restaurant', 'other')
counts_5 = (3957, 0)

colors = ['#FFA500' for _ in range(len(type_business))]
colors[0] = '#FFA500'


x_coords = np.arange(len(type_business))
plt.bar(x_coords, counts_5, tick_label=type_business, color=colors) 
plt.xticks(rotation=90) #rotates text for x-axis labels 
plt.ylabel('')
plt.title('Culinary Business Type')
plt.show()

In [ ]:
capacity_usaha_count = data.groupby('kapasitas').size().sort_values(ascending=False)
capacity_usaha_count.head(30)